/* Color palette: https://coolors.co/041b15-136f63-22aaa1-4ce0d2-84cae7 */

:root {
  --label-width: 100%;
  --select-width: 220px;
  --form-item-height: 30px;
  --form-item-border-color: lightgrey;
  --dark-jungle-green: #041b15ff;
  --pine-green: #136f63ff;
  --light-sea-green: #22aaa1ff;
  --turquoise: #4ce0d2ff;
  --sky-blue: #84cae7ff;
  --light-grey: #c7c7c7;
  --middle-grey: #545454;
  --dark-grey: #3a3a3a;
  --very-dark-grey: #262626;
  --text: white;
  --light-grey-text: #d0d0d0;
  --grey-text: #c0c0c0;
}

.App {
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yellowtail&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--dark-grey);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div,
ul,
li,
a {
  display: block;
  margin: 0;
  padding: 0;
}
