/* Color palette: https://coolors.co/041b15-136f63-22aaa1-4ce0d2-84cae7 */

:root {
  /* sizes */
  --max-mobile-width: 700px;
  --header-height: 83px;
  --label-width: 100%;
  --select-width: 220px;
  --form-item-height: 30px;

  /* colors */
  --border: #3a3a3a;
  --dark-jungle-green: #041b15ff;
  --pine-green: #136f63ff;
  --light-sea-green: #22aaa1ff;
  --turquoise: #4ce0d2ff;
  --sky-blue: #84cae7ff;
  --light-grey: #c7c7c7;
  --middle-grey: #545454;
  --dark-grey: #3a3a3a;
  --very-dark-grey: #262626;
  --very-very-dark-grey: #202020;
  --input-background: #161616;
  --text: white;
  --light-grey-text: #d0d0d0;
  --grey-text: #c0c0c0;
  --error: #dd2929;
  --low-priority: #8bc34a;
  --low-priority-background: #8bc34a33;
  --medium-priority: #fdd835;
  --medium-priority-background: #fdd83533;
  --high-priority: #ffa826;
  --high-priority-background: #ffa82633;
  --critical-priority: #ef5350;
  --critical-priority-background: #ef535033;
  --drag-box-shadow: #84cae799;
  --dropdown-background: #262626ee;
  --modal-background: #262626cc;
}

.App {
  font-family: 'Manrope', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: var(--very-very-dark-grey);
  /* min-height: calc(100% + env(safe-area-inset-top)); */
}

body {
  min-height: 100vh;

  /* background-image: linear-gradient(
      rgba(50, 50, 50, 0.2),
      rgba(50, 50, 50, 0.2)
    ),
    url('https://carrd.co/assets/images/etc/bg.svg'),
    url('https://carrd.co/assets/images/etc/overlay.png'),
    linear-gradient(to bottom right, var(--very-dark-grey), 50%, black); */

  background-image: url('assets/img/background.svg'),
    linear-gradient(
      to bottom right,
      var(--very-dark-grey),
      var(--very-very-dark-grey)
    );

  color: white;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

div,
ul,
li,
a,
span,
label {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus-visible {
  outline: 1px solid grey;
  border-radius: 4px;
}

select {
  appearance: none;
  -moz-appearance: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: fixed;
  background: var(--dark-grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: auto;
  border-radius: 8px;
}

.title {
  margin-bottom: 8px;
}

.low {
  background: var(--low-priority-background);
  border: 1px solid rgb(139, 195, 74);
}

.medium {
  background: var(--medium-priority-background);
  border: 1px solid rgb(253, 216, 53);
}

.high {
  background: var(--high-priority-background);
  border: 1px solid rgb(255, 167, 38);
}

.critical {
  background: var(--critical-priority-background);
  border: 1px solid rgb(239, 83, 80);
}

.flex-row {
  display: flex;
  gap: 16px;
  width: 100%;
}
