.create-project {
  width: 100%;
  max-width: 500px;
  padding: 16px;
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background: var(--middle-grey);
  font-size: 12px;
  font-weight: 700;
  width: fit-content;
}

.remove {
  width: 20px;
  height: 20px;
  margin-bottom: -1px;
  cursor: pointer;
}
