.container > label {
  margin-bottom: 4px;
}

.container > label > span {
  color: grey;
  font-style: italic;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
}

.select > select {
  top: 0;
  left: 0;
  padding: 16px;
  border-radius: 4px;
  width: 100%;
  background: var(--input-background);
  color: var(--text);
  border: 1px solid var(--border);
  text-transform: capitalize;
}

.error {
  color: var(--error);
  margin-top: 4px;
}

.arrow {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  position: absolute;
  right: 8px;
}
