.container {
  background: rgb(96, 191, 255);
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  color: white;
  font-weight: bold;
  margin: 0 5px 0 5px;
  min-width: 55px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.low {
  background: rgb(139, 195, 74);
}

.medium {
  background: rgb(253, 216, 53);
}

div .high {
  background: rgb(255, 167, 38);
}

.critical {
  background: rgb(239, 83, 80);
}
