.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--middle-grey);
  background: var(--very-very-dark-grey);
  z-index: 999;
}

.menu {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.container > ul {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.container > ul > li > span {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.container > ul > li > a {
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px;
  /* background: #54545433; */
}

.container > ul > li > a:hover {
  background: var(--middle-grey);
}

.projectDropdown {
  margin-left: auto;
}

/* .logo {
  display: flex;
  align-items: center;
}

.logo > svg {
  height: 50px;
} */

.logo {
  display: flex;
  align-items: center;
  color: white;
  margin-right: auto;
}

.logo > svg {
  /* height: 50px; */
  width: 140px;
  color: var(--turquoise);
}

.logo > svg tspan {
  /* height: 50px; */
  color: var(--text);
}

.plus {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin: 0 0 -1px 4px;
}

.createNewProject {
  width: 200px;
}

@media screen and (min-width: 700px) {
  .container {
    display: none;
  }
}
