:root {
  --label-width: 100%;
  --select-width: 220px;
  --form-item-height: 30px;
  --border-color: lightgrey;
}

div .issue {
  display: flex;
  align-items: center;
  /* border: 1px solid var(--border-color); */
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: white;
  cursor: pointer;
  margin: 2px;
  box-shadow: 0 5px 6px -4px rgba(0, 0, 0, 0.4);
}

div .active {
  background: rgb(221, 236, 255);
}

div a {
  margin: 0 5px 0 5px;
  white-space: nowrap;
}

div a:visited {
  text-decoration: none;
  color: blue;
}

div .issue-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 10px 0 5px;
}
