.container {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  background: var(--input-background);
  color: var(--text);
  font-size: 18px;
  border: 1px solid var(--border);
  font-family: inherit;
  resize: none;
  min-height: 140px;
}
