.container {
  padding: 8px;
  text-transform: capitalize;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  width: 100%;
}
