.container {
  width: 100%;
  max-width: 750px;
  padding: 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.projects {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  backdrop-filter: blur(6px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading {
  font-size: 18px;
  font-weight: 700;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.users > li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid var(--border);
  min-width: 100%;
  cursor: pointer;
}

.users > li span:not(.role) {
  width: 100%;
}

.placeholder {
  font-size: 14px;
  color: var(--grey-text);
}
