.container {
  overflow-x: hidden;
  width: 100vw;
}

.container > div {
  display: flex;
  position: relative;
  width: 100%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.sidebar {
  width: 80vw;
  min-width: 80vw;
  min-height: 100vh;
  background: var(--dark-grey);
}

.main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

.content {
  position: relative;
  top: var(--header-height);
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  /* display: flex; */
}

.sidebar > ul {
  margin-top: 8px;
  padding: 16px;
}

.sidebar > ul > li {
  padding: 12px;
  margin: 4px;
  font-weight: 900;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.sidebar > ul > li:hover {
  filter: brightness(75%);
}

.sidebar > ul > li:not(:last-child) {
  /* border-bottom: 1px solid var(--middle-grey); */
}

.sidebar > ul > li > svg {
  margin-bottom: -2px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  color: var(--turquoise);
}

.sidebar > svg {
  margin-bottom: -2px;
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
  margin: 16px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100vw;
    min-width: 100vw;
  }
}
