.container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background: var(--dark-grey);
  padding-block: 8px;
  transition: all 0.2s;
  transition-delay: 0.3s;
}

.container > li {
  margin: 0 auto;
}

.container > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  font-weight: 900;
}

.container svg {
  margin-bottom: -2px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
}

@media screen and (width >= 750px) {
  .container {
    display: none;
  }
}
